.homeImg img{
      object-fit: cover;
      border-radius:50%;
} 
.home{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top:40px;
}
.home h2{
    font-size: 4rem;  
    margin:0;
}
.bridgeImg{
    width:1000px;
    height:220px;
    object-fit: cover;
    margin:0;
}
